@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-dark-sub-nav {
    background-color: #232f3e;
}

.bg-dark-main-footer {
    background-color: #131A22;
}

.bg-dark-back-btn-top-footer {
    background-color: #37475A;
}